<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h2 class="bg-success text-light d-inline px-7">商品情報編集</h2>
    	<%= render 'layouts/errors', obj: @drink %>
  		<%= render 'form', drink: @drink %>
  </div>
</div>