    footer{
    background-color: #343a40;
    position: sticky;
    top: 100vh;
    width: 100%;
    color: #fff;
      }

     body{
         background-image: url("background-72250_960_720.jpg");
     }